@import "tailwindcss";

@font-face {
  font-family: "Tacteng";
  src: local("Tacteng"), url("./assets/fonts/tacteng.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Khmer Boran";
  src: local("Khmer Boran"), url("./assets/fonts/Khmer_Boran.ttf") format("truetype");
  font-weight: bold;
}